body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    padding: 20px;
}

p {
    font-size: 18px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(0, 46, 211);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(15, 0, 131);
}